@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* For Webkit browsers like Chrome, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
}